<div class="card">
  <div class="card-image">
    <figure class="image is4by3">
      <img
        src="http://image.tmdb.org/t/p/w500/{{poster_path}}"
        alt="selected movie poster"
      />
    </figure>
  </div>
  <header class="card-header">
    <p class="card-header-title is-centered"><a
        href="/by-id{{movie_id}}"
      >{{title}}</a></p>
  </header>

  <div class="card-content level">
    <div class="content level-item">
      {{!-- <ul>
        <li>{{overview}}</li>
        <li>{{release_date}}</li>
      </ul> --}}
      <button class="is-warning button" id="{{id}}">Remove Movie</button>

    </div>
  </div>
  <footer class="card-footer">
    {{#if tag}}
      <p class="card-header-title is-centered"><a
          href="/by-id{{movie_id}}"
        >{{tag}}</a></p>
    {{else}}
      <p class="card-header-title is-centered"><a href="/by-id{{movie_id}}">Add
          A Movie Tag</a></p>
    {{/if}}
  </footer>
</div>