<div class="card">

  <header id="{{info.id}}" class="card-header">
    <p class="card-header-title is-centered">{{info.title}}</p>
  </header>

  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is4by3">
          <img
            src="http://image.tmdb.org/t/p/w500/{{info.poster_path}}"
            alt="{{info.title}} movie poster"
          />
        </figure>
      </div>

      <div class="content">
        <ul class="m-5">
          <li><span class="has-text-weight-bold">Summary:
            </span>{{info.overview}}</li>
          <li><span class="has-text-weight-bold">Released on:
            </span>
            {{info.release_date}}</li>
          <li><span class="has-text-weight-bold">Genres:
            </span>{{#each genres as |genre|}}
              {{genre.name}}{{/each}}</li>
          <li><span class="has-text-weight-bold">Official Homepage:
            </span><a href={{info.homepage}}>{{info.title}}</a></li>
          <li><span class="has-text-weight-bold">Run Time:
            </span>
            {{info.runtime}}
            minutes</li>
        </ul>
        {{#if loggedIn}}
          <button class="is-warning button mt-3" id="add-movie">Add Movie</button>
        {{/if}}
      </div>

    </div>
  </div>
</div>